{% extends "base.html.jinja" %}

{% block content %}

<p class="lead">
    Want your maintainer to add something?
</p>

<a href="mailto:{{maintainer}}?subject={{subject}}">Send Feedback</a>


{% endblock %}
