{% extends "base.html.jinja" %}


{% block header_injection %}

<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <style type="text/css">
    #mynetwork {
      width: 1000px;
      height: 600px;
      border: 1px solid lightgray;
    }
	</style>
{% endblock %}

{% block content %}


<p class="lead"> Graphical Representation (Double-Click on nodes to get to ADO runs for the pipeline) </p>
<div id="mynetwork"></div>

<p class="lead"> Who Triggers The Pipeline </p>
<div>
  <ul>
    {% if triggered_by %}
    {% for pipeline in triggered_by %}
    <li>
      <a href="{{ pipeline.link_to_ado }}"> {{ pipeline.name }} </a>
    </li>
    {% endfor %}

    {% else %}
    <li> Nobody </li>
    {% endif %}
  </ul>
</div>


<div class="form">
  <form method="post">
    <div class="form-group">

      <label for="pipelineName">Pipeline Name</label>

      <select class="form-control" id="pipelineName" aria-describedby="pipelineNameHelp"
        placeholder="Select Pipeline Name" name="pipelineName">
        {% for pipeline_name in valid_pipeline_names %}
        <option value='{{ pipeline_name }}'> {{ pipeline_name}} </option>
        {% endfor %}
      </select>

      <small id="pipelineNameHelp" class="form-text text-muted">We'll perform depth first search and return the chain
        this pipeline triggers upon it's completion.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}

{% block script_injection %}
<script type="text/javascript">
    var nodes = new vis.DataSet([
      {% for node in saga_obj_graph_collection %}
        {id: '{{ node.pipeline_info.name }}', label: '{{ node.pipeline_info.name }}', url: '{{ node.pipeline_info.link_to_ado }}'},
      {% endfor %}
    ]);

    var edges = new vis.DataSet([
      {% for node in saga_obj_graph_collection %}
        {% for child in node.triggers %}
          {from: '{{ node.pipeline_info.name }}', to: '{{ child.pipeline_info.name }}'},
        {% endfor %}
      {% endfor %}
    ]);

    var container = document.getElementById('mynetwork');
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = {
      layout: {
        hierarchical: {
		  enabled: true,
		  sortMethod: 'directed',
          direction: 'LR',
		  nodeSpacing: 400,
          levelSeparation: 400
        }
      }
    };
    var network = new vis.Network(container, data, options);
	network.on("doubleClick", function (params) {
    if (params.nodes.length === 1) {
      var node = nodes.get(params.nodes[0]);
      if(node.url != null) {
        window.open(node.url, '_blank');
      }
     }
    });
  </script>
{% endblock %}
